<div class="items-details__container">

    <div class="item-title">{{item.title}}</div>
    <button mat-flat-button routerLink="">
        <mat-icon fontIcon="home">
        </mat-icon>back
    </button>

    <mat-list class="item-details">
        <mat-list-item>
            <h3 mat-line>{{item.description}}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h2 class="item-details-title">Author:</h2>

        <mat-list-item>
            <h3 mat-line>Name: {{item.name}}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <h3 mat-line>Phone: {{item.phone}}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <h3 mat-line>Email: {{item.email}}</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
